/*** 代码复制 开始**/
@media screen and (min-width: 0px) {
  .kind-of-lang {
    position: absolute;
    z-index: 2;
    right: 16px;
    top: 6px;
    font-size: 12px !important;
    color: hsla(0, 0%, 100%, .4); // 对于浅色代码高亮需要解决看不见的问题
    padding: 2px 6px;
    box-sizing: border-box;
  }
  .clipboard-button {
    position: absolute;
    display: none;
    z-index: 2;
    right: 12px;
    top: 12px;
    border-radius: 4px;
    font-size: 12px !important;
    color: #333;
    padding: 2px 6px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .clipboard-button:before {
    content: "复制"
  }

  .copyItem:hover {
    .clipboard-button {
      display: block;
      z-index: 2;
    }

    .kind-of-lang {
      display: none;
    }
  }
}

/*** 代码复制 结束**/
