@charset "UTF-8";
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                                 HTML
                                                Markdown
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
#cnblogs_post_body h1, #cnblogs_post_body h2, #cnblogs_post_body h3, #cnblogs_post_body h4, #cnblogs_post_body h5, #cnblogs_post_body h6 {
    font-weight: 600;
    line-height: 1.25;
}

#cnblogs_post_body h2 {
    font-size: 1.8rem;
    margin-top: 2em;
    margin-bottom: 2.2rem;
}

@media (max-width: 419px) {
    #cnblogs_post_body h2 {
        font-size: 1.7rem;
    }
}

#cnblogs_post_body h3 {
    font-size: 1.5rem;
    margin-top: 1em;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eaecef;
}

#cnblogs_post_body h2:hover .header-anchor,
#cnblogs_post_body h3:hover .header-anchor {
    opacity: 1;
}

#cnblogs_post_body a.header-anchor {
    color: var(--color-primary);
    font-size: .85em;
    float: left;
    margin-left: -.87em;
    padding-right: .23em;
    margin-top: .125em;
    opacity: 0;
}

#cnblogs_post_body ol, #cnblogs_post_body p, #cnblogs_post_body ul {
    line-height: 1.7;
}

#cnblogs_post_body a:not([class~=el-link]) {
    color: var(--color-primary);
}

#cnblogs_post_body img {
    display: flex !important;
    margin: 0 auto;
}

#cnblogs_post_body mark {
    background-color: #c6e2ff;
}

#cnblogs_post_body code:not([class]) {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace !important;
    font-size: inherit !important;
    color: #d63200 !important;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px !important;
    background-color: #f8f8f8;
    white-space: nowrap;
    border: none !important;
}

#cnblogs_post_body blockquote {
    background-color: #f3f5f7;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-color: #42b983;
    padding: .1rem 1.5rem;
    border-left-width: .5rem;
    border-left-style: solid;
    margin: 1rem 0;
}

#cnblogs_post_body .img-caption {
    text-align: center;
    width: fit-content;
    min-width: 20%;
    max-width: 80%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid var(--border-color-extra-linght);
    font-size: 13px;
    color: #999;
}

#cnblogs_post_body #cnblogs_post_body th,
#cnblogs_post_body #cnblogs_post_body td,
#cnblogs_post_body .cnblogs-post-body th,
#cnblogs_post_body .cnblogs-post-body td {
    border: 1px solid var(--DividColor) !important;
    word-break: break-all;
    white-space: nowrap;
}

#cnblogs_post_body pre {
    display: flex !important;
}

#cnblogs_post_body code.hljs {
    border: none !important;
    width: 100%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace !important;
    font-size: 14px !important;
    padding: 1rem 1rem !important;
    border-radius: 6px !important;
}

#cnblogs_post_body code.hljs.larger-code {
    font-size: 16px !important;
}

#cnblogs_post_body code.language-es6 {
    opacity: 0;
}

.cnblogs-markdown pre {
    border-radius: 6px !important;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                            暗色修复
                  对博客园的 https://www.cnblogs.com/css/blog-common.min.css 进行针对性覆盖
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
:root[theme='dark'] #cnblogs_post_body blockquote {
    background-color: #1d1f23 !important;
}

:root[theme='dark'] #cnblogs_post_body code:not([class]) {
    color: var(--color-text-primary) !important;
    background-color: #1d1f23 !important;
}

:root[theme='dark'] #cnblogs_post_body th {
    background-color: var(--color-white);
}

:root[theme='dark'] #cnblogs_post_body .mermaid {
    background-color: #81d081;
}

code.hljs::before {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    text-align: right;
    font-size: 0.9em;
    padding: 5px 10px 0;
    line-height: 15px;
    height: 15px;
    font-weight: 600;
}
