/* oceans  */
.dayTitle {
  display: none;
}

.hover-link:hover {
  color: var(--color-primary);
}

.my-el-card {
  margin: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

:root[theme=dark] {
  .my-el-card {
    box-shadow: none;
  }
}

:root[theme=dark] {
  // 标题
  .postTitle {
    color: white;
  }

  // 摘要
  .c_b_p_desc {
    color: var(--color-text-secondary);
  }
}
