/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                           侧边栏不要放太多东西
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
#sideBar {
  // 谷歌搜索
  #widget_my_google {
    display: none !important;
  }

  // 我的博客园排名
  #sidebar_scorerank {
    display: none !important;
  }

  // 阅读排行，评论排行，推荐排行
  #sidebar_topviewedposts, #sidebar_topcommentedposts, #sidebar_topdiggedposts {
    display: none !important;
  }

  // 写作日历
  #blog-calendar {
    display: none !important;
  }

  // 最新随笔
  #sidebar_recentposts {
    display: none !important;
  }

  // 随笔档案
  #sidebar_categories {
    display: none !important;
  }

  // 最新评论
  #sidebar_recentcomments {
    display: none !important;
  }
}
