@media screen and (max-width: 900px) {
  #btnZzk {
    display: none;
  }
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                                 侧边栏
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
#blog-calendar {
  border: 0 solid var(--border-color-light);
  border-radius: 0;
  line-height: 2;
  background: var(--color-white);
  //transition: all 300ms;

  #blogCalendar {
    padding: 14px;
    width: 100%;
    text-align: center;
    margin: 0 !important;

    .CalTitle {
      width: 100%;
    }

    .CalNextPrev a {
      font-size: 0;
    }

    .CalNextPrev:nth-child(1) a:before {
      content: "\e6de";
      font-family: element-icons;
      font-size: 14px;
    }

    .CalNextPrev:nth-child(3) a:before {
      content: "\e6e0";
      font-family: element-icons;
      font-size: 14px;
    }

    .CalDayHeader {
      padding: 10px;
      border-bottom: 1px solid var(--border-color-base);
      margin-bottom: 10px;
    }

    .CalOtherMonthDay {
      color: var(--border-color-lighter);
    }
  }
}

#blog-calendar u {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {

  #sideBarMain,
  #leftcontentcontainer,
  #blog-sidecolumn,
  #sidebar_categories,
  #sidebar_search_box {
    display: grid;
    grid-template-columns: 100%;
    /* grid-gap: 10px; */
    width: 100%;
    font-family: FontAwesome;
  }

  #sidebar_scroller {
    margin: 0 !important
  }

}

@media screen and (min-width: 1200px) {

  #sideBarMain,
  #leftcontentcontainer,
  #blog-sidecolumn,
  #sidebar_categories,
  #sidebar_search_box {
    display: grid;
    grid-template-columns: 100%;
    /* grid-gap: 10px; */
    /* width: 100%; */
    font-family: FontAwesome;
  }

}

#sidebar_shortcut ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#sidebar_recentposts li,
#sidebar_topviewedposts li,
#sidebar_topdiggedposts li,
#sidebar_topcommentedposts li {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}

#sidebar_postarchive li,
#sidebar_articlearchive li {
  padding: 0 10px;
}

#sidebar_recentposts li:hover,
#sidebar_articlearchive li:hover,
#sidebar_postarchive li:hover,
#sidebar_topviewedposts li:hover,
#sidebar_topcommentedposts li:hover,
#sidebar_topdiggedposts li:hover {
  background: var(--border-color-extra-linght);
  border-radius: 4px;
}

#sidebar_toptags ul,
#sidebar_postcategory ul,
#sidebar_imagecategory ul,
.sidebar-block[id^="sidebar_link"] ul {
  display: flex;
  flex-wrap: wrap;
}

/* oceans */
#sidebar_toptags li {
  margin: 4px;
  background-color: #ecf5ff;
  color: #409eff;
  border: 1px solid #d9ecff;
  padding: 0 6px;
  border-radius: 4px;
}

#sidebar_toptags li:hover {
  border: 1px solid #409eff;
  background-color: #409eff;
  color: #ffffff;
  cursor: pointer;
}


#sidebar_imagecategory li,
.sidebar-block[id^="sidebar_link"] li {
  margin: 4px 8px;
}

#sidebar_postcategory li {
  margin: 4px;
  background: var(--color-success);
  color: #fff;
  padding: 0 6px;
  border-radius: 4px;
}

#sidebar_postcategory li:hover {
  background: var(--color-success-0);
  cursor: pointer;
}

.sidebar-block,
#sidebar_news,
#sidebar_scroller {
  padding: 0;
  background: var(--color-white);
  border-radius: 0;
  line-height: 2;
  width: 100% !important;
  /* transition: all 300ms; */
  border: 0 solid var(--border-color-light);
}

#sidebar_recentposts li a:before {
  content: "\f017";
  margin-right: 10px;
}

.liScore:before {
  content: "\f005";
  margin-right: 10px;
}

.liRank:before {
  content: "\f091";
  margin-right: 10px;
}

#sidebar_postarchive li a:before,
#sidebar_articlearchive li a:before {
  content: "\f073";
  margin-right: 10px;
}

.sidebar-block[id^="sidebar_link"] li a:before {
  content: "\f0c1";
}

.recent_comment_title a:before {
  content: "\f27a";
  margin-right: 10px;
}

#sidebar_imagecategory li a:before {
  content: "\f03e";
}

#sidebar_topviewedposts li a:before {
  content: "\f06e";
  margin-right: 10px;
}

#sidebar_topcommentedposts li a:before {
  content: "\f086";
  margin-right: 10px;
}

#sidebar_topdiggedposts li a:before {
  content: "\f164";
  margin-right: 10px;
}


.recent_comment_author {
  border-bottom: 1px dashed var(--border-color-base);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar-block:hover,
#sidebar_news:hover,
#blog-calendar:hover {
  transition: all 300ms;
}

.catListTitle {
  margin: 0;
  font-size: var(--text-h4);
  font-weight: 500;
  /* text-indent:10px; */
  padding: 14px 20px 0;
  /* border-bottom: 1px solid var(--border-color-extra-linght); */
  position: relative;

}

.catListTitle:before {
  content: "";
  border-left: solid 4px var(--color-primary);
  margin-right: 10px;
  width: fit-content;

}

// 侧边栏同一的样式
.sidebar-block ul,
#profile_block,
#blog-news,
#sidebar_search_box {
  padding: 14px 20px;
  margin: 0;
  line-height: 2;
  list-style-type: none;
}

#p_b_follow {
  margin-top: 14px;
}

#p_b_follow a {
  background: var(--color-danger);
  color: var(--color-white);
  display: block;
  text-align: center;
  line-height: 2.4;
  border-radius: 4px;
  transition: all 300ms;
}

#p_b_follow a:hover {
  background: var(--color-danger-0);
  transition: all 300ms;
}

#p_b_follow span {
  background: var(--color-info);
  color: var(--color-white) !important;
  display: block;
  text-align: center;
  line-height: 2.4;
  border-radius: 4px;
  transition: all 300ms;
}

#p_b_follow span:hover {
  background: var(--color-info-0);
  transition: all 300ms;
}

.div_my_zzk {
  display: flex;
  height: 40px;
  margin: 0;
  align-items: center;
}

.input_my_zzk {
  flex-grow: 1;
  height: 30px;
  padding: 2px 16px !important;
  border: none;
  background: inherit;
  outline: none;
  color: var(--color-text-primary);
  background: var(--background-color-base);
  border-radius: 4px;
}

.div_my_zzk input, .input_my_zzk input {
  width: 0;
}

.btn_my_zzk {
  border: 0 !important;
  outline: none !important;
  border-radius: 6px;
  color: #fff;
  background-color: #409eff;
  margin-left: 10px;
  height: 30px !important;
  width: auto !important;
  padding: 0 8px !important;
  /* oceans */
  position: relative;
}

.btn_my_zzk:hover {
  background-color: #66b1ff;
  cursor: pointer;
}
