.console {
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  padding: 10px;
  font-family: sans-serif;
  font-size: var(--text-h5);

  pre {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, sans-serif;
  }

  .hr {
    height: 5px;
    width: 100%;
    border-top: 0.8px solid #f0f0f0;
  }

  .str {
    color: #c51916;
  }

  .num {
    color: #0d22aa;
  }

  .obj {
  }

  &.border-highlight {
    border: 0.5px solid var(--color-text-primary);
  }
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                             暗色
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
:root[theme=dark] {
  .console {
    border: 0.3px var(--color-white);
    background-color: #242424;
    .hr{
      border-top: 1px solid #3a3a3a;
    }
    .str {
      color: #f28b54;
    }

    .num {
      color: #9df0b0;
    }

    .obj {

    }
  }

}
