#q{
  height: 30px;
  padding: 2px 16px !important;
  border: none;
  background: inherit;
  outline: none;
  color: var(--color-text-primary);
  background: var(--background-color-base);
  border-radius: 4px;
}

.div_my_zzk input, .input_my_zzk input {
  width: 55%;
}

// 覆盖博客园的覆盖样式
@media only screen and (max-width: 767px){
  #sidebar_search_box input[type=text] {
    width: 55%!important;
  }
}
