:root[theme=dark] {
  .btn_my_zzk {
    background-color: var(--color-text-primary);
  }
}

.div_my_zzk {
  display: flex;
  height: 40px;
  margin: 0;
  align-items: center;
}

.input_my_zzk {
  flex-grow: 1;
  height: 30px;
  padding: 2px 16px !important;
  border: none;
  background: inherit;
  outline: none;
  color: var(--color-text-primary);
  background: var(--background-color-base);
  border-radius: 4px;
}

.div_my_zzk input, .input_my_zzk input {
  width: 0;
}



.btn_my_zzk {
  border: 0 !important;
  outline: none !important;
  border-radius: 6px;
  //color: #fff;
  //background-color: #409eff;
  margin-left: 10px;
  height: 30px !important;
  width: auto !important;
  padding: 0 8px !important;
  /* oceans */
  position: relative;
}

.btn_my_zzk:hover {
  //background-color: #66b1ff;
  cursor: pointer;
}
