#q {
  width: 65%;
  height: 30px;
  padding: 2px 16px !important;
  border: none;
  background: inherit;
  outline: none;
  color: var(--color-text-primary);
  background: var(--background-color-base);
  border-radius: 4px;
}

.search-icon {
  margin-left: 10px;
  i {
    font-size: 20px;
  }

  &:hover {
    color: var(--color-primary);
    cursor: pointer;
  }
}


// 覆盖博客园的覆盖样式
@media only screen and (max-width: 767px) {
  #sidebar_search_box input[type=text] {
    width: 65% !important;
  }
}
