
#MySignature {
  font-size: var(--text-h5);
  color: var(--color-text-secondary);
  margin: 0;
  /* padding: 14px; */
}

#the-end {
  text-align: center;
  display: flex;
  margin: 14px auto;
  align-items: center;
  justify-content: center;
}

#the-end:before {
  content: "";
  width: 60px;
  height: 1px;
  display: inline-block;
  opacity: 0.8;
  border-bottom: 1px solid var(--border-color-base);
  margin-right: 6px;
}

#the-end:after {
  content: "";
  width: 60px;
  opacity: 0.8;
  height: 1px;
  display: inline-block;
  border-bottom: 1px solid var(--border-color-base);
  margin-left: 6px;
}
