/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                                 其他
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/

.btn-content:before {
  content: "切换到目录" !important;
}

.btn-content.btn-content-open:before {
  content: "切换到默认" !important;
}


.btn-comment:before {
  content: "发表评论" !important;
}

.btn-content {
  display: none;
}

.btn-content a:before {
  content: "\f0ec";
}

.btn-content.btn-content-open a:before {
  content: "\f0ec";
}

.btn-sidebar a:before {
  content: "\f0c9"
}

.btn-sidebar.btn-sidebar-open a:before {
  content: "\f00d" !important;
}

.btn-comment a:before {
  content: "\f075";
}

/* 顶部图标 */
#blog_nav_myhome:before {
  content: "\f015";
}

/* fa-pencil */
#blog_nav_newpost:before {
  content: "\f040";
  /* el-icon-circle-plus */
  /*content: "\e7a0";*/
}

#blog_nav_contact:before {
  content: "\f0e0"
}

#blog_nav_rss:before {
  content: "\f09e";
}

#blog_nav_admin:before {
  content: "\f013";
}

#sidebar-toggler:before {
  content: "\f0c9";
}


#blog_nav_sitehome:before {
  content: "\f08b";
}


.main-hide {
  grid-template-columns: 100% !important;
  transition: width 300ms;

  #sideBar {
    display: none;
  }
}




.sidebar-fixed #sidebar_scroller {
  margin: 0
}

.theme {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: var(--text-h4);
}

