#lnkBlogLogo, #blogTitle h2, .blogStats {
  display: none;
}

#header, #navList, .hd-menu ul {
  display: flex;
  height: 50px;
  align-items: center;
}

#header {
  padding: 0 8px;
}

#blogTitle {
  height: 50px;
  flex-grow: 1;
  text-align: center;
}

#blogTitle h1 {
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: center;
  line-height: 50px;
  padding: 0;
}

#blogTitle h1 a {
  font-size: var(--text-h2);
  text-decoration: none;
  color: inherit;
  display: none;
}

#navList, .hd-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none
}

#navList li a, .hd-menu li a {
  color: var(--color-text-placeholder);
  text-decoration: none;
  font-size: 0;
  width: 50px;
  display: block;
  text-align: center;
  cursor: pointer;
}

#navList li a:hover, .hd-menu li a:hover {
  color: var(--color-text-primary);
}

#navList li a:before,
.hd-menu li a:before {
  font-size: 16px;
}

.forFlow {
  max-width: 750px; // vue-press 文档的宽度
  padding: 0 20px;
  margin: 0 auto;
}

.postTitle {
  padding: 20px;
  font-size: var(--text-h2);
  color: var(--color-text-primary);
}

.postCon {
  padding: 0 20px;
  font-size: var(--text-h5);
  color: var(--color-text-regular);
}

.postDesc {
  padding: 10px 20px;
  font-size: var(--text-h6);
  color: var(--color-text-secondary);
}


.side-choose {
  display: flex;
  width: 300px;
  justify-content: space-around;
  background: var(--color-white);
  position: fixed;
  z-index: 100;

  .active {
    color: var(--color-text-primary) !important;
    border-bottom: 2px solid var(--color-primary);
  }

  #sidebar_files, #sidebar_outline {
    width: 3em;
    text-align: center;
    line-height: 50px;
    color: var(--color-text-placeholder);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
