/************** 随笔/档案 开始 ***************/
@media screen and (min-width: 0) {

  .day,
  .entrylist {
    border-radius: 0;
    transition: all 300ms;
  }

  .entrylistTitle .day:hover {
    transition: all 300ms;
  }

  .dayTitle,
  .entrylistTitle {
    padding: 20px 20px 0px;
    margin: 0;
    font-size: var(--text-h3);
    position: relative;
  }

  .entrylistTitle:before {
    content: "";
    border-left: 4px solid var(--color-primary);
    height: 100%;
    width: 4px;
    margin-right: 10px;
  }

  .dayTitle {
    display: none;
  }

  .entrylistDescription {
    padding: 10px 20px 20px;
    margin-bottom: 20px;
    background: var(--color-white);
  }
  .day .postTitle,
  .entrylistPosttitle {
    font-size: var(--text-h3);
    /* background: var(--color-white); */
    padding: 20px 20px 10px;
    /* border-radius:4px 4px 0 0;*/
    font-weight: 500;
  }

  .day .postTitle:hover,
  .entrylistPosttitle:hover {
    color: var(--color-primary);
  }

  .postCon,
  .entrylistPostSummary {
    /* background: var(--color-white); */
    padding: 0 20px 0px;
    color: var(--color-text-regular);
  }

  .postDesc,
  .entrylistItemPostDesc {
    /* background: var(--color-white); */
    padding: 10px 20px 20px;
    color: var(--color-text-secondary);
  }

  .entrylist p:last-child {
    display: none;
  }

  .postSeparator {
    /* margin:10px 0; */
    height: 1px;
    overflow: hidden;
    border-bottom: 0px solid var(--border-color-extra-linght);
    padding-bottom: 20px;
    background: transparent;
  }

  .c_b_p_desc {
    line-height: 24px !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--text-h5);
    position: relative;
  }

  .c_b_p_desc_readmore {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    font-size: 0;
    background: transparent;
  }

  .c_b_p_desc_readmore:after {
    /* content:"\e6e0"; */
    font-family: element-icons;
    float: right;
  }

  .c_b_p_desc img {
    margin-left: 10px;
    border-radius: 4px;
    object-fit: cover;
  }

  @media screen and (max-width: 767px) {
    .c_b_p_desc {
      -webkit-line-clamp: 3;
    }

    .c_b_p_desc img {
      height: 68px;
      width: 100px;
    }
  }

  @media screen and (min-width: 767px) {
    .c_b_p_desc {
      -webkit-line-clamp: 5;
    }

    .c_b_p_desc img {
      height: 120px;
      width: 180px;
    }
  }

}

/************** 随笔/档案 结束 ***************/
/************** 常用链接子界面/相册 开始 ***************/
@media screen and (min-width: 0px) {

  .PostListTitle {
    margin: 0;
    font-size: var(--text-h3);
    font-weight: 500;
    text-align: center;
    /* text-indent:10px; */
    padding: 20px 20px;
    border-bottom: 1px solid var(--border-color-extra-linght);
    position: relative;
    background: var(--color-white);
    border-radius: 0;
  }

  #myposts,
  .PostList {
    margin: 0 !important;
    background: var(--color-white);
  }

  #myposts {
    border-top: 1px solid var(--border-color-extra-linght);
    border-radius: 0;
    overflow: hidden;
  }

  .PostList {
    display: grid;
    grid-template-columns: 100%;
    border-bottom: 1px solid var(--border-color-extra-linght);
  }

  .postTitl2 {
    font-size: var(--text-h3);
    background: var(--color-white);
    padding: 20px 20px;
  }

  .postDesc2 {
    background: var(--color-white);
    padding: 0 20px 20px;
    font-size: var(--text-h5) !important;
    color: var(--color-text-secondary);
    order: 1;
  }

  .postText2 {
    background: var(--color-white);
    padding: 0 20px 10px;
    margin: 0 !important;
    font-size: var(--text-h5) !important;
    color: var(--color-text-regular);
  }

  .divPhoto {
    padding: 10px;
    overflow: hidden;
  }

  .divPhoto img {
    object-fit: cover;
  }

  #ViewPicture1_GalleryImage {
    max-width: calc(100% - 40px) !important;
  }

  .gallery:after {
    content: "";
    height: 30px;
    display: block;
  }
}

/**************  常用链接子界面/相册 结束 ***************/
/************** 分页模块 开始 ***************/
@media screen and (min-width: 0) {
  .topicListFooter {
    margin: 0;
  }

  #nav_next_page {
    background: var(--color-white);
    line-height: 2.6;
    border-radius: 0px;
    text-align: center;
    transition: all 500ms;
    margin-bottom: 20px;
  }

  #nav_next_page a {
    display: block;
    width: 100%;
    padding: 10px;
  }

  #nav_next_page:hover {
    transition: all 500ms;
  }

  .pager {
    margin: 0;
    font-size: var(--text-h5);
    color: var(--color-primary);
  }

  .pager a {
    padding: 0 4px;
    color: var(--color-text-regular);
    border: none;
    border-radius: 0px;
    transition: all 500ms;
    display: inline-block;
  }

  .pager a:hover {
    color: var(--color-primary);
    transition: all 500ms;
  }

  .Pager {
    padding: 20px;
    text-align: center;
    background: var(--color-white)
  }

  span.current {
    border: none !important;
    background: transparent !important;
    color: var(--color-primary) !important;
    font-weight: normal !important;
  }

  #homepage_top_pager,
  #homepage_bottom_pager,
  #comment_pager_top,
  #comment_pager_bottom {
    background: var(--color-white);
    border-radius: 0;
    margin-bottom: 20px;
    padding: 20px;
    transition: all 500ms;
  }

  #homepage_top_pager:hover,
  #homepage_bottom_pager:hover,
  #comment_pager_top:hover,
  #comment_pager_bottom:hover {
    /*box-shadow: var(--light-shadow);*/
    transition: all 500ms;
  }
}

/************** 分页模块 开始 ***************/
/************** 页脚 开始 ***************/
@media screen and (min-width: 0) {
  #footer {
    text-align: center;
    padding: 30px 14px;
    background: var(--color-white);
    color: var(--color-text-secondary);
  }
}

/************** 页脚 结束 ***************/

/************** 博文互动开始 ***************/
@media screen and (min-width: 0px) {

  #BlogPostCategory,
  #EntryTag {
    font-family: element-icons;
    margin: 10px 0;
    font-size: 0;
  }

  #BlogPostCategory a,
  #EntryTag a {
    margin: 0 10px 0 0;
    display: inline-block;
    font-size: var(--text-h6);
  }

  #BlogPostCategory a {
    background: var(--color-warning-1);
    color: var(--color-warning);
    padding: 4px 12px;
    border-radius: 20px;
  }

  #EntryTag a {
    background: var(--color-success-1);
    color: var(--color-success);
    padding: 4px 12px;
    border-radius: 20px;
  }

  #BlogPostCategory a:before,
  #EntryTag a:before {
    margin-right: 4px;
  }

  #BlogPostCategory a:before {
    content: "\e784";
  }

  #EntryTag a:before {
    content: "#";
  }

  #blog_post_info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color-extra-linght);
  }


  #green_channel {
    width: auto;
    padding: 20px 10px;
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: FontAwesome;
    width: 100%;
    order: 1;
  }

  #green_channel a {
    padding: 0 20px;
  }

  #green_channel a {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: var(--color-text-primary) !important;
    padding: 0 !important;
    margin: 0 10px !important;
  }

  #green_channel a:link,
  #green_channel a:visited,
  #green_channel a:active {
    color: var(--color-text-primary) !important;
  }

  #green_channel a {
    display: grid;
    font-size: var(--text-h6) !important;
    font-weight: normal;
    grid-template-columns: 100%;
    margin: 0 20px;
  }

  #green_channel a:before {
    font-size: var(--text-h4);
  }

  #green_channel_digg,
  #green_channel span,
  #green_channel_follow {
    display: none !important;
  }

  #green_channel_digg:before {
    content: "\f087";
  }

  #green_channel_follow:before {
    content: "\f08a";
  }

  #green_channel_favorite:before {
    content: "\f005";
    color: var(--color-warning);
  }

  /* 不需要微博 */
  #green_channel #green_channel_weibo img {
    display: none;
  }

  #green_channel_wechat:before {
    content: "\f1d7";
    color: var(--color-success);
  }

  #green_channel_wechat img {
    display: none;
  }

  #green_channel_wechat:after {
    content: "微信分享"
  }

  #div_digg {
    margin: 0 auto;
    padding: 0;
    width: fit-content;
    color: var(--color-text-primary) !important;
  }

  .diggit {
    background: none;
    display: grid;
    grid-template-columns: 100%;
    font-family: FontAwesome;
    color: var(--color-text-primary) !important;
    background: var(--color-danger);
    color: white !important;
    padding: 4px 44px;
    width: fit-content;
    height: fit-content;
    border-radius: 100px;
  }

  @keyframes star {
    0% {
      transform: scale(.8);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(.8);
    }
  }

  .diggit:hover {
    background: var(--color-danger-0);
  }

  .diggnum {
    color: white !important;
  }

  .buryit {
    display: none;
  }

  .diggit:before {
    content: "\f164";
    font-size: var(--text-h4);
    font-family: 'fontawesome';
  }


  @media screen and (max-width: 540px) {


    #div_digg {
      margin: 0 auto;
    }

    #author_profile_honor {
      display: none;
    }
  }

  /* 博主信息 */
  #author_profile {
    order: 1;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .author_profile_info {
    flex-grow: 1;
    color: var(--color-text-primary);
  }

  #author_profile a:hover {
    text-decoration: none;
  }

  .author_avatar {
    margin: 0;
    padding: 0;
    height: 54px;
    height: 54px;
    border-radius: 100px;
  }

  #author_profile_detail {
    margin-left: 10px;
  }

  #author_profile_honor {
    margin: 0 10px;
    font-size: var(--text-h5)
  }

  /*#author_profile_honor:before{
      content:"\e70e";
      font-family:element-icons;
  }*/
  #author_profile_follow {
    font-size: 0;
  }

  #author_profile_follow a,
  #author_profile_follow span {
    background: var(--color-danger);
    color: var(--color-white) !important;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: var(--text-h6);
  }

  #author_profile_follow:hover {
    background: var(--color-danger-0);
  }

  /*上下篇*/
  #post_next_prev {
    font-size: var(--text-h5);
    text-overflow: ellipsis;
    width: 100% !important;
    display: grid;
    padding: 20px 0 0;
    border-radius: 6px;
    grid-template-columns: 0 auto 1fr 14px auto 1fr;
    justify-content: space-between;
    overflow: hidden;
  }

  #post_next_prev a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #post_next_prev br {
    width: 0 !important;
    display: none;
    margin: 0 7px !important;
  }

  .p_n_p_prefix {
    font-size: 0;
  }

}

/************** 博文互动结束 ***************/


/************** 弹窗开始 ***************/
@media screen and (min-width: 0px) {
  .ui-popup {
    max-width: calc(100vw - 28px) !important;
  }

  .art-dialog-content,
  .alert-dialog-grid,
  .alert-dialog-header,
  .alert-dialog-body,
  .alert-dialog-footer {
    max-width: calc(100vw - 70px) !important;
  }


  .art-dialog-title {
    max-width: 100px !important;
  }

  .art-dialog-content iframe {
    overflow-y: auto !important;
  }

}

/************** 弹窗结束 ***************/

