/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                              覆盖默认样式
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
/* 去广告 */
#ad_c1,
#ad_c2,
#ad_t2,
#under_post_news,
#poweredby,
.c_ad_block {
  display: none
}

* {
  box-sizing: border-box;
}


:root body {
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  font-size: var(--text-h5);
  line-height: 1.5;
  background: var(--color-white);
  font-weight: 400;
  transition: all 300ms;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100% !important;
}


:before, :after {
  font-family: fontawesome, element-icons;
}


[v-cloak] {
  display: none;
  color: red;
}

/* 覆盖ElementUI */
.el-tooltip__popper.is-light {
  color: var(--color-black);
}
