
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
                                              主题色
                                    CSS 变量和 SCSS 变量的取舍
               https://www.w3cplus.com/css/difference-between-types-of-css-variables.html
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
:root {
  --color-primary: #409EFF;
  --color-success: #67c23a;
  --color-success-0: #85ce61;
  --color-success-1: #e1f3d8;
  --color-success-2: #f0f9eb;
  --color-warning: #e6a23c;
  --color-warning-0: #ebb563;
  --color-warning-1: #faecd8;
  --color-warning-2: #fdf6ec;
  --color-danger: #f56c6c;
  --color-danger-0: #f78989;
  --color-danger-1: #fde2e2;
  --color-danger-2: #fef0f0;
  --color-info: #909399;
  --color-info-0: #a6a9ad;
  --color-info-1: #e9e9eb;
  --color-info-2: #f4f4f5;
  --color-text-primary: #303133;
  --color-text-regular: #606266;
  --color-text-secondary: #909399;
  --color-text-placeholder: #c0c4cc;
  --border-color-base: #dcdfe6;
  --border-color-light: #e4e7ed;
  --border-color-lighter: #ebeef5;
  --border-color-extra-linght: #f2f6fc;
  --color-white: #ffffff;
  --color-black: #000000;
  --background-color-base: #f5f7fa;
  --text-h1: 24px;
  --text-h2: 22px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-h5: 16px;
  --text-h6: 14px;
  --basic-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  --light-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  /** old ***/
  --ThemeColor: var(--color-primary);
  --TextColor1: #141418;
  --TextColor2: #5f5f6b;
  --TextColor3: #97979f;
  --DividColor: #e7eaf0;
  --BlockColor: #fff;
  --BackgroundColor: #f4f6fa;
}

:root[theme='dark'] {
  --color-primary: #409eff;
  --color-success: #67c23a;
  --color-success-0: #85ce61;
  --color-success-1: #e1f3d8;
  --color-success-2: #f0f9eb;
  --color-warning: #e6a23c;
  --color-warning-0: #ebb563;
  --color-warning-1: #faecd8;
  --color-warning-2: #fdf6ec;
  --color-danger: #f56c6c;
  --color-danger-0: #f78989;
  --color-danger-1: #fde2e2;
  --color-danger-2: #fef0f0;
  --color-info: #909399;
  --color-info-0: #a6a9ad;
  --color-info-1: #e9e9eb;
  --color-info-2: #f4f4f5;
  //--color-text-primary: #fafbfc;
  --color-text-primary: #AAB2B4;
  --color-text-regular: #f2f4f5;
  --color-text-secondary: #909399;
  --color-text-placeholder: #c0c4cc;
  --border-color-base: #4c5054;
  --border-color-light: #414446;
  --border-color-lighter: #323435;
  --border-color-extra-linght: #313233;
  //--color-white: #1F2425; // 背景色
  --color-white: #282c34;
  --color-black: #000000;
  //--background-color-base: #24292e;
  --background-color-base: #21252b; // 搜索框加深 | 代码背景
  --text-h1: 24px;
  --text-h2: 22px;
  --text-h3: 20px;
  --text-h4: 18px;
  --text-h5: 16px;
  --text-h6: 14px;
  --basic-shadow: 0 2px 4px rgba(255, 255, 255, 0.12), 0 0 6px rgba(255, 255, 255, 0.04);
  --light-shadow: 0 2px 12px 0 rgba(255, 254, 254, 0.1);

  /** old ***/
  --ThemeColor: var(--color-primary);
  --TextColor1: #fafbfc;
  --TextColor2: #f2f4f5;
  --TextColor3: #909399;
  --DividColor: #4c5054;
  --BlockColor: #1f2428;
  --BackgroundColor: #24292e;
}
